apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: {{ .Values.api.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: api
  template:
    metadata:
      labels:
        app.kubernetes.io/name: api
    spec:
      terminationGracePeriodSeconds: 0
      containers:
        - name: api
          image: {{ .Values.api.image }}
          env:
            - name: MONGODB_HOST
              value: mongodb
            - name: MONGODB_PASSWORD
              value: password
            - name: MONGODB_DATABASE
              value: okteto
            - name: MONGODB_USERNAME
              value: root
